*{
    margin: 0;
    padding: 0;
}
.top{
    width: 100%;
    background-color: rgb(255, 215, 58);
    padding-bottom: 10px;
}
#top_d1{
    width: 60%;
    margin: 0 auto;
    padding-top: 15px;
    position: relative;
}
#top_d1 img{
    width: 200px;
    height: 75px;
}
#top_d1 ul{
    position: absolute;
    right: 0;
    top:50px;
    color: white;
    list-style: none;
    font-size: 18px;
}
#top_d1 li{
    width: 100px;
    float: left;
    text-align: right;
}
#top_d1 a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}